
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #e0e0d5;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px #fffff2,
                5px 5px 15px #a3a39b;
    background: transparent;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    margin: 13px;
    transition: 200ms;
}

.calculator form input:hover {
    color:#41413d;
    background: #85857e2c;
    transition: 200ms;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20 px 0;
    box-shadow: inset -8px -8px 15px #a3a39b,
                    5px 5px 15px #fffff2;
    border-radius: 10px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px
}
