.converter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: 10px;
}

.display-1 {
    height: auto;
    width: 400px;
    background: #e4e4d8;
    border-radius: 20px;
    margin-right: 2.5rem;
    box-shadow: 5px 5px 15px #303030, 
                -5px -5px 15px #ececdd;
}

.header {
    margin-left: 20px;
}

.display-2 {
    height: auto;
    width: 400px;
    background: #e4e4d8;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #303030, 
                -5px -5px 15px #ececdd;
}

p {
    margin: 0;
}

select {
    border-radius: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.input-field {
    background: #c7c7bb;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.input-field p {
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.input-field input {
    margin-left: 20px;
    margin-bottom: 20px;
}

.output-field {
    background: #c7c7bb;
    margin-right: 20px;
    border-radius: 20px;
}

.output-field p {
    padding-top: 25px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.output-field input {
    margin-left: 20px;
    margin-bottom: 20px;
}

main {
    height: 2000px;
}